.frequency > .form-check {
	display: inline-block;
}

.donate-button-group {
	margin-top: 28px;
	display: -webkit-flex;
}

.donate-button-group > .btn {
	font-weight: 700;
	flex-basis: 100%;
}

.donate-using-cc {
	margin-right: 20px;
}

.disclaimer {
	margin-top: 12px;
}
