.frequency > .form-check {
	display: inline-block;
}

/* .text-button {
    button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
} */

/* #donate {
    transition: all 0.3s;
} */
